:root {
    --darkBlue: #0C1427;
    --mainContent: #F8F9FB;
    --lightPurple:  #727CF5;
    --lightRed:  #FF3366;
    --barsColor: #97A3B9;
    --yellow: #FBBC06;
    --green: #0ACF97;
    --lightGray: #DEE1E7;
}



.register {
    width: 100%;
    width: 400px;
    height: 510px;
    margin: 300px auto;
    transform: translate(-50%, -50%);
}


.register h1 {
    color: var(--lightRed);
    font-size: 33Px;
    font-weight: bold;
    margin-bottom: 30px;
}

.register span {
    display: inline-block;
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--lightPurple);
}

.register a {
    text-decoration: underline;
    font-weight: normal;
    color: var(--lightPurple);
    margin-left: 10px;
    font-size: 15px;
}

form label{
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
    color: var(--lightPurple);
}

form input {
    width: 300px;
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid var(--lightPurple);
    outline: 0;
    background-color: transparent;
}


form button {
    width: 300px;
    padding: 10px;
    border: 0;
    color: #FFF;
    background-color: var(--lightPurple);
    outline: 0;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    cursor: pointer;
}

::placeholder {
    color: var(--barsColor);
    opacity: 0.2;
}
