<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Dashboard Style -->
    <link rel="stylesheet" href="../static/css/add-company.css">
    <!-- shared-ui -->
    <link rel="stylesheet" href="../static/css/shared-ui.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="../static/css/all.min.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- Favicon  -->
    <!-- <link rel="icon" href="../assets/images/favicon-16x16.png" sizes="16x16"> -->
    <!-- Title -->
    <title>Add Company</title>
</head>
<body>


    <div class="container">
        <!-- Start NavBar -->
        <nav class="navbar">
            <div class="nav-icon" onclick="toggleSidebar()">
                <i class="fas fa-bars"></i>
            </div>
            <div class="navbar-right">
                <a href="#">
                    <img src="../static/images/manager.png" alt="img" width="30" >
                    <div class="account">
                        <span>Ahmed Mhd</span>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </a>
            </div>
        </nav>
        <!-- End NavBar -->

        <!-- Start Main -->
        <main>
            <div class="main-container">
                <!-- Start Title -->
                <div class="title">
                    <h1>Add Company</h1>
                </div>
                <!-- End Title -->

                <!-- Start Form -->
                <form class="form-section">
                    <div class="input-left">
                        <label for="company">Company Name</label>
                        <input type="text" id="company" placeholder="Company X" required>
                        <label for="">Category</label>
                        <select id="category" class="category">
                            <option value="company">Marketing</option>
                            <option value="freelancers">Front End</option>
                            <option value="company">UI & UX</option>
                            <option value="freelancers">Back End</option>
                        </select>
                        <label for="location">Location</label>
                        <input type="text" id="location" placeholder="Iraq, Baghdad" required>

                        <label for="real-file">Upload image</label>
                        <input type="file" id="real-file" hidden="hidden">
                        <button type="button" id="custom-button">
                            Browse File
                            <!-- <i class="fas fa-upload"></i> -->
                            <img src="../assets/images/upload.svg" alt="" >
                        </button>
                        <span id="custom-text"></span>
                    </div>
                    <div class="input-right">
                        <label for="phone_number">Phone number</label>
                        <input type="text" id="phone_number" placeholder="07713522385" required>
                        <label for="email">Email</label>
                        <input type="email" id="email" placeholder="ahmed1@gmail.com" required>
                        <label for="description">Description</label>
                        <textarea name="description" id="description" cols="40" rows="10" placeholder="Lorem Ipsum is simply dummy text of the printin and typesetting industry."></textarea>
                    </div>

                    <button type="submit">Add</button>
                </form>
                <!-- End Form -->
            </div>
        </main>
        <!-- End Main -->

        <!-- Start Sidebar -->
        <div id="sidebar">
            <div class="sidebar-title">
                <h2>Business by design</h2>
                <i
                  onclick="closeSidebar()"
                  class="fa fa-times"
                  id="sidebarIcon"
                  aria-hidden="true"
                ></i>
            </div>

            <section class="sidebar-menu">
                <div class="sidebar-link active-menu-link">
                    <i class="fa fa-home"></i>
                    <a href="dashboard.html">Dashboard</a>
                </div>
                <div class="sidebar-link">
                    <i class="far fa-building"></i>
                    <a href="company.html">Company</a>
                </div>
                <div class="sidebar-link">
                    <i class="fas fa-igloo"></i>
                    <a href="#">Freelancers</a>
                </div>
                <div class="sidebar-link">
                    <i class="fas fa-calendar-alt"></i>
                    <a href="#">Calender</a>
                </div>
                <div class="sidebar-link">
                    <i class="fas fa-user-plus"></i>
                    <a href="register.html">Register</a>
                </div>
                <div class="sidebar-link">
                    <i class="fas fa-cog"></i>
                    <a href="#">Settings</a>
                </div>
            </section>
        </div>
        <!-- End Sidebar -->


    </div>


    <!-- Script -->
    <script src="../static/js/js2.js"></script>

</body>
</html>
