{% extends "layout.html" %}
    {% block head %}
    <!-- Dashboard Style -->
    <link rel="stylesheet" href="../static/css/company.css">
    <!-- Title -->
    <title>Company</title>
    {% endblock %}

    {% block content %}
        <!-- Start Main -->
        <main>
            <div class="main-container">
                <!-- Start Title -->
                <div class="title">
                    <h1>Company</h1>
                </div>
                <!-- End Title -->

                <!-- Start Filters Section-->
                <div class="main-filters">
                    <form action="/companies" method="POST" class="search">
                        <input name="name" type="text" placeholder="Search" name="search" class="box">
                        <!-- <span class="icon">
                            <i class="fas fa-search"></i>
                        </span> -->
                    </form>
                    <select name="category" id="provider" class="provider box">
                        <option value="Marketing">Marketing</option>
                        <option value="Front End">Front End</option>
                        <option value="UI & UX">UI & UX</option>
                        <option value="Back End">Back End</option>
                    </select>
                    <select name="rating" id="rating" class="rating box">
                        <option value="5">5 Rating</option>
                        <option value="4">4 Rating</option>
                        <option value="3">3 Rating</option>
                        <option value="3">2 Rating</option>
                        <option value="1">1 Rating</option>
                    </select>
                    <a href="/addCompany" class="add box">
                        Add Company
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
                <!-- End Filters Section -->

                <!-- Start Table -->
                <table class="table">
                    <thead>
                        <th>#</th>
                        <th>##</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Location</th>
                        <th>Rating</th>
                        <th>Profile</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        {% for company in companyDetails %}
                        <tr>
                            <td data-label="#">{{company.id}}</td>
                            <td data-label="##" class="img-circle">
                                <img src="../static/images/account-img.jpg" alt="image">
                            </td>
                            <td data-label="Name">{{company.name}}</td>
                            <td data-label="Category">{{company.category}}</td>
                            <td data-label="Location">{{company.location}}</td>
                            <td data-label="Rating">{{company.rating}}</td>
                            <td data-label="Profile" class="profile">
                                <a href="/profilesCompany/{{company.id}}">
                                    <i class="far fa-id-badge"></i>
                                </a>
                            </td>
                            <td data-label="Action" class="action">
                                
                                <a href="/editCompany/{{company.id}}"> 
                                    <!-- ""/update/{{company.id}}" -->
                                    <!-- "/user/{{company.id}}" -->
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a href="/deleteCompany/{{company.id}}">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- End Table -->

                <!-- Start pagination -->
                <div class="pagination">
                    <a href="#" class="arrow-left">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <span class="page-number">
                        <span>1</span>
                        OF
                        <span>10</span>
                    </span>
                    <a href="#" class="arrow-right">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
                <!-- End pagination -->

            </div>
        </main>
        <!-- End Main -->



    </div>

    
    <!-- Script -->
    <script src="../static/js/js2.js"></script>
{% endblock %}
