<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Dashboard Style -->
    <link rel="stylesheet" href="../static/css/freelancers.css">
    <!-- shared-ui -->
    <link rel="stylesheet" href="../static/css/shared-ui.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="../static/css/all.min.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- Favicon  -->
    <!-- <link rel="icon" href="../static/images/favicon-16x16.png" sizes="16x16"> -->
    <!-- Title -->
    <title>Dashboard</title>
</head>
<body>

  
    <div class="container">
        <!-- Start NavBar -->
        <nav class="navbar">
            <div class="nav-icon" onclick="toggleSidebar()">
                <i class="fas fa-bars"></i>
            </div>
            <div class="navbar-right">
                <a href="#">
                    <img src="../static/images/manager.png" alt="img" width="30" >
                    <div class="account">
                        <span>Ahmed Mhd</span>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </a>
            </div>
        </nav>
        <!-- End NavBar -->

        <!-- Start Main -->
        <main>
            <div class="main-container">
                <!-- Start Title -->
                <div class="title">
                    <h1>Company</h1>
                </div>
                <!-- End Title -->

                <!-- Start Filters Section-->
                <div class="main-filters">
                    <form action="" class="search">
                        <input type="text" placeholder="Search" name="search" class="box">
                        <!-- <span class="icon">
                            <i class="fas fa-search"></i>
                        </span> -->
                    </form>
                    <select id="provider" class="provider box">
                        <option value="company">Marketing</option>
                        <option value="freelancers">Front End</option>
                        <option value="company">UI & UX</option>
                        <option value="freelancers">Back End</option>
                    </select>
                    <select id="rating" class="rating box">
                        <option value="4.5">4.5 Rating</option>
                        <option value="3.4">3.4 Rating</option>
                        <option value="3.4">3.4 Rating</option>
                        <option value="3">3 Rating</option>
                        <option value="1">1 Rating</option>
                    </select>
                    <a href="/company/addcompany" class="add box">
                        Add Company
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
                <!-- End Filters Section -->

                <!-- Start Table -->
                <table class="table pagination" data-pagecount="3">
                    <thead>
                        <th>#</th>
                        <th>##</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Location</th>
                        <th>Rating</th>
                        <th>Profile</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="#">1</td>
                            <td data-label="##" class="img-circle">
                                <img src="../static/images/account-img.jpg" alt="image">
                            </td>
                            <td data-label="Name">Comapny X</td>
                            <td data-label="Category">Front End</td>
                            <td data-label="Location">Iraq, Baghdad</td>
                            <td data-label="Rating">5</td>
                            <td data-label="Profile" class="profile">
                                <a href="#">
                                    <i class="far fa-id-badge"></i>
                                </a>
                            </td>
                            <td data-label="Action" class="action">
                                <a href="#">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a href="#">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td data-label="#">2</td>
                            <td data-label="##" class="img-circle">
                                <img src="../static/images/account-img.jpg" alt="image">
                            </td>
                            <td data-label="Name">Comapny X</td>
                            <td data-label="Category">Front End</td>
                            <td data-label="Location">Iraq, Baghdad</td>
                            <td data-label="Rating">5</td>
                            <td data-label="Profile" class="profile">
                                <a href="#">
                                    <i class="far fa-id-badge"></i>
                                </a>
                            </td>
                            <td data-label="Action" class="action">
                                <a href="#">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a href="#">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td data-label="#">3</td>
                            <td data-label="##" class="img-circle">
                                <img src="../static/images/account-img.jpg" alt="image">
                            </td>
                            <td data-label="Name">Comapny X</td>
                            <td data-label="Category">Front End</td>
                            <td data-label="Location">Iraq, Baghdad</td>
                            <td data-label="Rating">5</td>
                            <td data-label="Profile" class="profile">
                                <a href="#">
                                    <i class="far fa-id-badge"></i>
                                </a>
                            </td>
                            <td data-label="Action" class="action">
                                <a href="#">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a href="#">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td data-label="#">4</td>
                            <td data-label="##" class="img-circle">
                                <img src="../static/images/account-img.jpg" alt="image">
                            </td>
                            <td data-label="Name">Comapny X</td>
                            <td data-label="Category">Front End</td>
                            <td data-label="Location">Iraq, Baghdad</td>
                            <td data-label="Rating">5</td>
                            <td data-label="Profile" class="profile">
                                <a href="#">
                                    <i class="far fa-id-badge"></i>
                                </a>
                            </td>
                            <td data-label="Action" class="action">
                                <a href="#">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a href="#">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td data-label="#">5</td>
                            <td data-label="##" class="img-circle">
                                <img src="../static/images/account-img.jpg" alt="image">
                            </td>
                            <td data-label="Name">Comapny X</td>
                            <td data-label="Category">Front End</td>
                            <td data-label="Location">Iraq, Baghdad</td>
                            <td data-label="Rating">5</td>
                            <td data-label="Profile" class="profile">
                                <a href="#">
                                    <i class="far fa-id-badge"></i>
                                </a>
                            </td>
                            <td data-label="Action" class="action">
                                <a href="#">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a href="#">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <!-- End Table -->

            </div>
        </main>
        <!-- End Main -->

        <!-- Start Sidebar -->
        <div id="sidebar">
            <div class="sidebar-title">
                <h2>Business by design</h2>
                <i
                  onclick="closeSidebar()"
                  class="fa fa-times"
                  id="sidebarIcon"
                  aria-hidden="true"
                ></i>
            </div>

            <section class="sidebar-menu">
                <div class="sidebar-link active-menu-link">
                    <i class="fa fa-home"></i>
                    <a href="/">Dashboard</a>
                </div>
                <div class="sidebar-link">
                    <i class="far fa-building"></i>
                    <a href="/company">Company</a>
                </div>
                <div class="sidebar-link">
                    <i class="fas fa-igloo"></i>
                    <a href="/freelancers">Freelancers</a>
                </div>
                <div class="sidebar-link">
                    <i class="fas fa-users"></i>
                    <a href="#">Employees</a>
                </div>
                <div class="sidebar-link">
                    <i class="fas fa-calendar-alt"></i>
                    <a href="#">Calender</a>
                </div>
                <div class="sidebar-link">
                    <i class="fas fa-user-plus"></i>
                    <a href="/register">Register</a>
                </div>
                <div class="sidebar-link">
                    <i class="fas fa-cog"></i>
                    <a href="#">Settings</a>
                </div>
            </section>
        </div>
        <!-- End Sidebar -->


    </div>

    
    <!-- Script -->
    <script src="../static/js/js2.js"></script>
    
</body>
</html>