{% extends "layout.html" %}
    {% block head %}
    <!-- Dashboard Style -->
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <!-- Title -->
    <title>Dashboard</title>
    {% endblock %}
    {% block content %}

        <!-- Start Main -->
        <main>
            <div class="main-container">
                <!-- Start Title -->
                <div class="title">
                    <h1>Dashboard</h1>
                </div>
                <!-- End Title -->

                <!-- Start Main Cards -->
                <div class="main-cards">
                    <div class="card">
                        <div class="left">
                            <h2>34</h2>
                            <span>Company</span>
                        </div>
                        <div class="right">
                            <i class="icon far fa-building"></i>
                        </div>
                    </div>
                    <div class="card">
                        <div class="left">
                            <h2>45</h2>
                            <span>Freelancers</span>
                        </div>
                        <div class="right">
                            <i class="fas fa-igloo"></i>
                        </div>
                    </div>
                    <div class="card">
                        <div class="left">
                            <h2>20</h2>
                            <span>Cases</span>
                        </div>
                        <div class="right">
                            <i class="fas fa-suitcase"></i>
                        </div>
                    </div>
                    <a class="card add-case" href="/addCase">
                        <div class="add-icon">
                            <i class="fas fa-plus"></i>
                       </div>
                       <p>Add New Case</p>
                    </a>
                </div>
                <!-- End Main Cards -->


                <!-- Start Charts -->
                <div class="charts">
                    <div class="chart-card">
                        <div class="chart-title">
                          <div>
                            <!-- <h1>Lorem, ipsum dolor.</h1>
                            <p>Lorem ipsum dolor sit amet consectetur.</p> -->
                          </div>
                        </div>
                        <div id="chart1"></div>
                    </div>
                    <div class="chart-card">
                        <div class="chart-title">
                          <div>
                            <!-- <h1>Lorem, ipsum dolor.</h1>
                            <p>Lorem ipsum dolor sit amet consectetur.</p> -->
                          </div>
                          <i class="fa fa-usd" aria-hidden="true"></i>
                        </div>
                        <div id="chart"></div>
                    </div>
                    <div class="chart-card">
                        <div class="chart-title">
                          <div>
                            <!-- <h1>Lorem, ipsum dolor.</h1>
                            <p>Lorem ipsum dolor sit amet consectetur.</p> -->
                          </div>
                          <i class="fa fa-usd" aria-hidden="true"></i>
                        </div>
                        <div id="ch"></div>
                    </div>
                    <div class="chart-card">
                        <div class="chart-title">
                          <div>
                            <!-- <h1>Lorem, ipsum dolor.</h1>
                            <p>Lorem ipsum dolor sit amet consectetur.</p> -->
                          </div>
                          <i class="fa fa-usd" aria-hidden="true"></i>
                        </div>
                        <div id="c"></div>
                    </div>
                </div>
                <!-- End Charts -->
            </div>
        </main>
        <!-- End Main -->



    </div>


    <!-- apexcharts -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/js2.js"></script>


    <!-- Script -->
{% endblock %}