{% extends "layout.html" %}
    {% block head %}
    <!-- Freelancers Style -->
    <link rel="stylesheet" href="../static/css/freelancers.css"> 
    <!-- Title -->
    <title>Freelancers</title>
    {% endblock %}


    {% block content %}
        <!-- Start Main -->
        <main>
            <div class="main-container">
                <!-- Start Title -->
                <div class="title">
                    <h1>Freelancers</h1>
                </div>
                <!-- End Title -->

                <!-- Start Filters Section-->
                <div class="main-filters">
                    <form action="" class="search">
                        <input type="text" placeholder="Search" name="search" class="box">
                        <!-- <span class="icon">
                            <i class="fas fa-search"></i>
                        </span> -->
                    </form>
                    <select id="provider" class="provider box">
                        <option value="company">Marketing</option>
                        <option value="freelancers">Front End</option>
                        <option value="company">UI & UX</option>
                        <option value="freelancers">Back End</option>
                    </select>
                    <select id="rating" class="rating box">
                        <option value="4.5">4.5 Rating</option>
                        <option value="3.4">3.4 Rating</option>
                        <option value="3.4">3.4 Rating</option>
                        <option value="3">3 Rating</option>
                        <option value="1">1 Rating</option>
                    </select>
                    <a href="/addFreelancers" class="add box">
                        Add Freelancer
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
                <!-- End Filters Section -->

                <!-- Start Table -->
                    <table class="table">
                        <thead>
                            <th>#</th>
                            <th>##</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Location</th>
                            <th>Rating</th>
                            <th>Profile</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            {% for freelancer in freelancersDetails %}
                            <tr>
                                <td data-label="#">{{freelancer.id}}</td>
                                <td data-label="##" class="img-circle">
                                    <img src="../static/images/account-img.jpg" alt="image">
                                </td>
                                <td data-label="Name">{{freelancer.name}}</td>
                                <td data-label="Category">{{freelancer.category}}</td>
                                <td data-label="Location">{{freelancer.location}}</td>
                                <td data-label="Rating">{{freelancer.rating}}</td>
                                <td data-label="Profile" class="profile">
                                    <a href="/profilesFreelancer/{{freelancer.id}}">
                                        <i class="far fa-id-badge"></i>
                                    </a>
                                </td>
                                <td data-label="Action" class="action">
                                    
                                    <a href="/editFreelancer/{{freelancer.id}}"> 
                                        <!-- ""/update/{{freelancer.id}}" -->
                                        <!-- "/user/{{freelancer.id}}" -->
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a href="/deleteFreelancer/{{freelancer.id}}">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- End Table -->
    
                </div>
            </main>
            <!-- End Main -->

                <!-- Start pagination -->
                <div class="pagination">
                    <a href="#" class="arrow-left">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <span class="page-number">
                        <span>1</span>
                        OF
                        <span>10</span>
                    </span>
                    <a href="#" class="arrow-right">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
                <!-- End pagination -->

            </div>
        </main>
        <!-- End Main -->




    </div>

    
    <!-- Script -->
    <script src="../static/js/js2.js"></script>
    {% endblock %}
