<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- shared-ui -->
    <link rel="stylesheet" href="../static/css/shared-ui.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="../static/css/all.min.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- Favicon  -->
    <link rel="icon" href="../static/images/favicon.ico" sizes="16x16">
    {% block head %}

    
    {% endblock %}
</head>

<body>

  
    <div class="container">
        <!-- Start NavBar -->
        <nav class="navbar">
            <div class="nav-icon" onclick="toggleSidebar()">
                <i class="fas fa-bars"></i>
            </div>
            <!-- <div class="navbar-right">
                <a href="#">
                    <img src="../static/images/manager.png" alt="img" width="30" >
                    <div class="account">
                        <span>ZubaidaBilal</span>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </a>
            </div> -->
            <div class="navbar-right">
                <a href="#">
                    <!-- <img src="../static/images/logout.png" alt="img" width="26"> -->
                    <a href="/logout"><i class="fas fa-sign-out-alt" style="font-size: 24px; color:#FF3366;"></i></a>
                    <div class="account">
                        <!-- <a href="#" style="color:#FF3366; font-size: 16px;">Logout</a> -->
                        <!-- <span onclick="menuToggle()">Ahmed Mhd</span> -->
                        <!-- <i class="fas fa-chevron-down"></i> -->
                    </div>
                </a>
            </div>
        </nav>
        <!-- End NavBar -->

        <!-- Start Sidebar -->
        <div id="sidebar">
            <div class="sidebar-title">
                <h2>Dolphin</h2>
                <i
                  onclick="closeSidebar()"
                  class="fa fa-times"
                  id="sidebarIcon"
                  aria-hidden="true"
                ></i>
            </div>

            <section class="sidebar-menu">
                <div class="sidebar-link active-menu-link">
                    <i class="fa fa-home"></i>
                    <a href="/dashboard">Dashboard</a>
                </div>
                <div class="sidebar-link">
                    <i class="far fa-building"></i>
                    <a href="/companies">Company</a>
                </div>
                <div class="sidebar-link">
                    <i class="fas fa-igloo"></i>
                    <a href="/freelancers">Freelancers</a>
                </div>
                <div class="sidebar-link">
                    <i class="fas fa-user-plus"></i>
                    <a href="/signup">Register</a>
                </div>
                <div class="sidebar-link">
                    <i class="fas fa-users"></i>
                    <a href="#">Employees</a>
                    <span style="font-size: 10px; color: #FF3366;">Soon</span>
                </div>
                <div class="sidebar-link">
                    <i class="fas fa-calendar-alt"></i>
                    <a href="#">Calender</a>
                    <span style="font-size: 10px; color: #FF3366;">Soon</span>
                </div>
                <div class="sidebar-link">
                    <i class="fas fa-cog"></i>
                    <a href="#">Settings</a>
                    <span style="font-size: 10px; color: #FF3366;">Soon</span>
                </div>
            </section>
        </div>
        <!-- End Sidebar -->

        <!-- Start Main -->
        {% block content %}
        


        {% endblock %}
        <!-- End Main -->
</body>
</html>