{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Dashboard Style -->
    <link rel="stylesheet" href="../static/css/login.css"> 
    <!-- Fontawesome -->
    <link rel="stylesheet" href="../static/css/all.min.css"> 
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-login">
  <div class="login-left">
      <form method="POST" action="/login" autocomplete="off">
        <div class="title">
          <h1>LOGIN</h1>
          <span>Please login to your account.</span>
        </div>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        <!-- {{ wtf.form_field(form.remember) }} -->
        <button type="submit">LOGIN</button>
     </form>
             
  </div>
        <div class="img-right"> 
            <img src="../static/images/undraw_business_deal_cpi9.svg" alt="login image" draggable="false" >
        </div>
</div>
{% endblock %}