<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Login Style -->
    <link rel="stylesheet" href="../static/css/signUp.css"> 
    <!-- Fontawesome -->
    <link rel="stylesheet" href="../static/css/all.min.css"> 
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- Favicon  -->
    <link rel="icon" href="../static/images/favicon-16x16.png" sizes="16x16">
    <!-- Title --> 
    <title>CS50 Project</title>
</head>
<body>
    
    <section class="register">
        <div class="register-box">
           <h1>Register</h1>
           <span>Create your account.</span>
           <!-- Form -->
            <form action="{{ url_for('register')}}" method="post" autocomplete="off">
                <label for="test">Full Name</label>
                <input type="text" name="username" id="test" placeholder="Ahmed Mohammed" pattern="[A-Za-z]{5,20}" title="" required>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="ahmed1@gmail.com" required>
                <label for="Password">Password</label>
                <input type="password" name="password" id="Password" placeholder="*******************" minlength="8" required>
                <button type="submit">Register</button>
            </form>
        </div>
    </section>

</body>
</html>